*, *::before, *::after {
	box-sizing: border-box;
	font-family: 'varela round', verela, sans-serif;
	font-weight: normal;
}

body {
	padding: 0;
	margin: 0;
	background: rgba(0,0,0)
}

.calculatorGrid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button {
	cursor: pointer;
	font-size: 2rem;
	border: 0px;
	outline: none;
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgb(20, 20, 20);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
	border-radius: 20px 20px 0 0;
	margin-bottom: 5px
}

.output .previousOperand {
	color: rgba(255,255,255,.75);
	font-size: 1.5rem;
}

.output .currentOperand {
	color: white;
	font-size: 2.5rem;
}

button {
	border-radius: 50px;
	margin: 2px;
}

.operation {
	background-color: rgb(255, 166, 0, .75);
}

.operation:hover {
	background-color: rgb(255, 166, 0, .9);
}

.operation:active {
	background-color: rgb(255, 166, 0, .55);
}

.option {
	background-color: rgb(134, 134, 134, .75);
}

.option:hover {
	background-color: rgb(134, 134, 134, .9);
}

.option:active {
	background-color: rgb(134, 134, 134, .55);
}

.equal {
	background-color: rgb(255, 81, 0, .75);
}

.equal:hover {
	background-color: rgb(255, 81, 0, .9);
}

.equal:active {
	background-color: rgb(255, 81, 0, .55);
}

.number {
	background-color: rgba(255,255,255,.75);
}

.number:hover {
	background-color: rgba(255,255,255,.9);
}

.number:active {
	background-color: rgba(255,255,255,.55);
}